.author {
  box-sizing: border-box;
  padding: 0.5rem;
  margin-block-start: 2rem;
  border: 1px solid rgb(gray, 0.25);
  border-radius: 0.25rem;
  display: grid;
  grid-template: "icon name" auto "icon content" auto "icon links" auto / 8rem 1fr;
  gap: 0.5rem 1rem;
  background-color: rgb(white, 0.5);

  [data-theme="dark"] & {
    background-color: rgb(black, 0.25);
  }

  @media (width < 512px) {
    grid-template: "icon name" auto "icon content" auto "links content" auto / 5rem 1fr;
  }
}

.icon {
  margin: 0;
  aspect-ratio: 1 / 1;
  width: 100%;
  height: auto;
  border-radius: 0.25rem;
  grid-area: icon;
}

.content {
  grid-area: content;
}

.links {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  gap: 0.5rem;
  grid-area: links;

  @media (width < 512px) {
    justify-content: flex-start;
  }
}

.link-icon {
  padding: 0;
  height: 2rem;
  width: 2rem;
  fill: gray;
  transition: opacity 200ms;

  &:hover {
    opacity: 0.5;
  }
}
