body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

html.transition {
  view-transition-name: routing;
}

::view-transition-old(routing) {
  animation: fade-out 200ms ease-out;
}
::view-transition-new(routing) {
  animation: fade-in 200ms ease-in;
}
@keyframes fade-out {
  to {
    opacity: 0;
  }
}
@keyframes fade-in {
  from {
    opacity: 0;
  }
}
