body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.routing-transition {
  view-transition-name: routing;
}

::view-transition-group(routing) {
  overflow: visible;
}
::view-transition-image-pair(routing) {
  overflow: visible;
}
::view-transition-old(routing) {
  animation: fade-out 200ms ease-out forwards;
}
::view-transition-new(routing) {
  animation: fade-in 200ms ease-in forwards;
}

@keyframes fade-out {
  to {
    opacity: 0;
    transform: translateX(16px);
  }
}
@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateX(-16px);
  }
}
