:root {
  --background-color: rgba(0, 0, 0, 0.05);
  --light-background-color: rgba(0, 0, 0, 0.05);
  --dark-background-color: rgba(0, 0, 0, 0.9);
}

body {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  background-color: var(--background-color);
}
