@keyframes fade {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.about {
  box-sizing: border-box;
  padding: 0 8rem;
  margin-top: 1rem;
  width: 1024px;
  min-height: calc(100vh - 3.5rem);
  display: flex;
  justify-content: center;
  align-items: center;
  animation: 400ms ease 200ms 1 normal both running fade;

  @media (width < 1024px) {
    width: 100%;
    padding: 0 2rem;
  }

  @media (width < 512px) {
    padding: 2rem 1rem;
  }

  .blog-link-container {
    all: unset;
    width: 100%;
    display: flex;
    justify-content: flex-end;

    .blog-link-container-inner {
      padding: 0.25rem 0.5rem;
      border-radius: 0.25rem;
      margin-block: 2rem;
      display: flex;
      gap: 0.25rem;
      justify-content: flex-end;
      align-items: center;
      user-select: none;
      cursor: pointer;
      transition: background-color 200ms ease-in-out;

      &:hover {
        background-color: oklch(from var(--elmethis-color-primary) l c h / 20%);
      }

      .blog-link-icon {
        color: var(--elmethis-color-primary);
      }

      .blog-link-text {
        color: var(--elmethis-color-primary);
      }
    }
  }

  .signature-container {
    width: 100%;
    display: flex;
    justify-content: flex-end;

    .signature {
      height: 6rem;
      width: auto;
    }
  }
}
