.link-container {
  display: flex;
  margin-block: 4rem;
  justify-content: space-around;
  flex-wrap: wrap;
}

.link {
  all: unset;
  box-sizing: content-box;
  padding: 0.75rem;
  border-radius: 0.25rem;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
  filter: grayscale(100%);
  transition:
    opacity 200ms,
    filter 400ms;

  &:hover {
    opacity: 0.8;
    background-color: rgba(#6987b8, 0.1);
    filter: grayscale(0%);
  }
}

.link-icon {
  width: 2rem;
  height: 2rem;
  fill: gray;
}
