.fixed {
  position: fixed;
  top: 50%;
  right: 0;
  transform: translateX(35%) translateY(-50%);
  opacity: 0.8;
  user-select: none;
  pointer-events: none;
  z-index: -1;
}

.canvas {
  display: block;
  width: 100vmax;
  height: 100vmax;
  opacity: 0.25;
}
