@use '../variables';

.header {
  box-sizing: border-box;
  padding-inline: 0.5rem;
  width: 100%;
  height: variables.$header-height;
  position: sticky;
  z-index: 1;
  top: 0;
  left: 0;

  transition: background-color 500ms;
  box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.2);

  display: flex;
  justify-content: space-between;
  align-items: center;
}
