@use '../variables';

.wrapper {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
  &--light {
    background-color: variables.$light-background-color;
  }

  &--dark {
    background-color: variables.$dark-background-color;
  }
}
