@use '../../mixins';
@use '../../variables';

.side {
  max-width: 400px;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  justify-content: flex-start;
  align-items: stretch;

  @media (max-width: variables.$breakpoint-mobile) {
    width: 100%;
    max-width: 100%;
  }

  @media (min-width: variables.$breakpoint-mobile) and (max-width: variables.$breakpoint-desktop) {
    max-width: 800px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: stretch;
  }

  @media (min-width: variables.$breakpoint-desktop) {
    @include mixins.custom-scrollbar();

    box-sizing: border-box;
    padding-right: 0.25rem;
    padding-left: 0.25rem;
    padding-bottom: 0.5rem;
    border-bottom: dashed 1px rgba($color: gray, $alpha: 0.8);

    position: sticky;
    top: calc(variables.$header-height + 0.5rem);
    height: calc(100vh - (variables.$header-height + 0.5rem) - 0.5rem);
    overflow-x: hidden;
    overflow-y: scroll;
  }
}
