@use '../../mixins';
@use '../../variables.scss';

.wrapper {
  @include mixins.fade-in(500ms, 20ms);
}

.container {
  box-sizing: border-box;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 0.5rem;
  padding: 0.5rem;

  @media (max-width: variables.$breakpoint-desktop) {
    flex-direction: column;
    align-items: center;

    @media (max-width: variables.$breakpoint-mobile) {
      padding: 0.25rem;
    }
  }
}

.blog-main-wrapper {
  box-sizing: border-box;
  width: 800px;
  max-width: 100%;
  box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.1);
}
