.wrapper {
  @include mixins.fade-in(500ms, 20ms);
}

.container {
  box-sizing: border-box;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  gap: 1rem;
  padding: 0.5rem;
}
