@use '../../variables';

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.wrapper {
  animation-name: fade;
  animation-duration: 500ms;
  animation-fill-mode: both;
  animation-delay: 20ms;
}

.container {
  box-sizing: border-box;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  gap: 1rem;
  padding: 0.5rem;
}
