// media breakpoints
$breakpoint-mobile: 576px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 992px;

$light-background-color: lighten(black, 90%);
$dark-background-color: darken(white, 90%);

$header-height: 3rem;
